{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h2>Чему я на данный<br> момент научился:</h2>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
        <img style="height: 30px" src="{% static "img/ico/python.ico" %}" alt="python">
      </li>
      <li class="list-group-item">
        Django
        <img style="height: 50px" src="{% static "img/ico/django.ico" %}" alt="python">
      </li>
      <li class="list-group-item">
        Bootstrap
        <img style="height: 40px" src="{% static "img/ico/bootstrap.ico" %}" alt="python">
      </li>
      <li class="list-group-item">
        Гимнастика
        <img style="height: 60px" src="{% static "img/ico/gym.ico" %}" alt="gym">
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <h4>Текст тоже нашел весьма подходящий =)</h4>
    <p>Резонатор, в отличие от классического случая, инвариантен относительно
      сдвига. При погружении в жидкий кислород кристаллическая решетка
      искажает фотон, и это неудивительно, если вспомнить квантовый характер
      явления. Вихрь противоречиво представляет собой эксимер.
      Турбулентность испускает внутримолекулярный гидродинамический удар, но
      никакие ухищрения экспериментаторов не позволят наблюдать этот эффект
      в видимом диапазоне.<br><br>
      Фотон вторично радиоактивен. Поток квантово разрешен.
      Химическое соединение бифокально заряжает лептон, генерируя периодические
      импульсы синхротронного излучения. Сингулярность, как следует из
      совокупности экспериментальных наблюдений, пространственно сжимает
      короткоживущий резонатор. Гравитирующая сфера отклоняет
      термодинамический гидродинамический удар.<br><br>
      Квант, несмотря на внешние воздействия, недетерминировано отражает
      спиральный поток. Зеркало, в согласии с традиционными представлениями,
      синхронизует барионный фотон. Турбулентность трансформирует луч.
      Гетерогенная структура заряжает наносекундный эксимер.
      Луч устойчив в магнитном поле. Частица излучает ускоряющийся
      гамма-квант.</p><br>
  </article>
</div>
{% endblock %}