{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
    {{ posts|truncatechars:33 }}
{% endblock %}
{% block content %}
  <br><br>
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Дата публикации: {{ posts.created|date:"d.m.Y" }}
        </li>
        {% if posts.group != None %}
          <li class="list-group-item">
            Группа: {{ posts.group }}<br>
            <a href="{% url 'posts:group_list' posts.group.slug %}">
              все записи группы
            </a>
            {% else %}
          <li class="list-group-item">
          Группа: отсутствует
        {% endif %}
        </li>
        <li class="list-group-item">
          Автор: {{ posts.author.first_name }} {{ posts.author.last_name }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Всего постов автора: <span>{{ posts.author.posts.count }}</span>
        </li>
        <li class="list-group-item">
          <a href={% url 'posts:profile' posts.author %}>
            все посты пользователя
          </a>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      {% thumbnail posts.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <p>
        {{ posts.text }}
      </p>
      {% if user == posts.author %}
        <a type="button" class="btn btn-primary"
           href={% url 'posts:post_edit' posts.id %}>
          Редактировать запись</a>
        <a class="btn btn-sm btn-danger" type="button" data-toggle="modal"
           data-target="#post-delete-{{posts.id}}" href={% url 'posts:post_delete' posts.id %}>
              Удалить</a>
      {% endif %}
      {% include "includes/comments.html" %}
    </article>
  </div>
  <div id="post-delete-{{ posts.id }}" class="modal fade" tabindex="-1"
       role="dialog" aria-labelledby="exampleModalCenter">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="card-header">
          <div class="modal-body text-center">Вы уверены что хотите это
            удалить?
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <a class="btn btn-danger" type="button"
               href="{% url 'posts:post_delete' posts.id %}">Удалить</a>
            <a class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}